/* font-family: 'Big Shoulders Display', cursive; */
/* font-family: 'Outfit', sans-serif; */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Big Shoulders Display', cursive;
}

/* --------------------------- HEADER ------------------- */

.map {
    background-image: url(../assets/images/mobile/image-map@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 146.6vw;
}

.button {
    width: 264px;
    height: 72px;
    display: flex;
    transition: 0.7s;
    position: absolute;
    top: 0;
    left: 0;
}

.left {
    width: 56px;
    height: 100%;
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.right {
    width: 208px;
    height: 100%;
    background-color: #151515;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.button:hover .left {
    background-color: #151515;
    transition: 0.7s;
}

.button:hover .right {
    background-color: #D5966C;
    transition: 0.7s;
}


/* -------------------------- MAIN --------------------- */

main {
    background-color: #151515;
    padding: 48px 16px 56px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: white;
}

.info {
    margin-top: 48px;
}

.info h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    color: #D5966C;
}

.address {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    max-width: 17ch;
}

.main_txt {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin-top: 20px;
    font-family: 'Outfit', sans-serif;
    max-width: 29ch;
}

/* ------------------------ FOOTER -------------------- */

footer {
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    background-color: #D5966C;
}

.footer_txt {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.footer_logo {
    width: 110px;
    height: 40px;
    background-image: url(../assets/icons/logo-dark.svg);
    background-repeat: no-repeat;
}

.footer_info {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    font-family: 'Outfit', sans-serif;
    max-width: 29ch;
}

.social {
    display: flex;
    gap: 20px;
    height: 20px;
}

.social_icon path{
    transition: 0.7s;
}

.social_icon path:hover {
    fill: white;
    transition: 0.7s;
    cursor: pointer;
}


/* -------------- RESPONSIVE ------------- */



@media (min-width: 768px) {

    /* HEADER */

    .map {
        background-image: url(../assets/images/tablet/image-map@2x.png);
        height: 78.125vw;
    }

    .button {
        left: 39px;
    }

    /* MAIN */
    
    main {
        flex-direction: row;
        padding: 88px 40px 80px 39px;
        justify-content: space-between;
        align-items: flex-start;
    }

    main h1 {
        max-width: 3ch;
    }

    .info {
        margin: 0;
    }

    .main_txt {
        max-width: 34ch;
    }

    /* FOOTER */

    footer {
        padding: 56px 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer_txt {
        flex-direction: row;
        gap: 65px;
    }
}