/* font-family: 'Big Shoulders Display', cursive; */
/* font-family: 'Outfit', sans-serif; */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Big Shoulders Display', cursive;
}

/* ------------------------ HEADER --------------------- */

/* container */

.container {
    width: 100%;
    height: 64vw;
    position: relative;
}

.background {
    background-image: url(../assets/images/mobile/image-hero@2x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    top: 72vw;
    left: 4.3vw;
    transition: 1s;
}

.text h1 {
    max-width: 10ch;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: #151515;
}

/* header_div */

.header_div {
    margin-top: 32px;
}

.header_div p {
    max-width: 29ch;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

.button {
    width: 260px;
    height: 72px;
    display: flex;
    margin-top: 32px;
    transition: 0.7s;
}

.left {
    width: 204px;
    height: 100%;
    background-color: #151515;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.right {
    width: 56px;
    height: 100%;
    background-color: #D5966C;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.button:hover .left {
    background-color: #D5966C;
    transition: 0.7s;
}

.button:hover .right {
    background-color: #151515;
    transition: 0.7s;
}



/* ----------------------- MAIN --------------------------- */

main {
    margin-top: 510px;
}

.starter_section {
    max-width: 343px;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.grid_container {
    display: grid;
    place-content: center;
    grid-template-columns: 343px;
    grid-template-rows: 480px 200px 293px;
    row-gap: 16px;
    margin-top: 32px;
    grid-template-areas:
        "chair"
        "museum"
        "black_div";
}

.first_img {
    width: 343px;
    height: 320px;
    background-image: url(../assets/images/mobile/image-grid-1@2x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day h2{
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: #151515;
    max-width: 8.5ch;
}

.day p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    font-family: 'Outfit', sans-serif;
    max-width: 27ch;
    margin-top: 21px;
}

.chair {
    grid-area: chair;
    background-image: url(../assets/images/mobile/image-grid-2@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.museum {
    grid-area: museum;
    background-image: url(../assets/images/mobile/image-grid-3@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.black_div {
    grid-area: black_div;
    background: #151515;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt_black h2{
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    width: 9ch;
}

.txt_black p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Outfit', sans-serif;
    max-width: 25ch;
    margin-top: 24px;
}


/* ----------------------------- FOOTER ------------------------- */

footer {
    display: flex;
    flex-direction: column;
    background-color: #151515;
    margin-top: 120px;
    padding: 48px 0 48px 32px;
}

footer p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Outfit', sans-serif;
    color: white;
    max-width: 29ch;
    margin-top: 38px;
}

.social {
    margin-top: 38px;
    display: flex;
    gap: 20px;
}

.social_icon path {
    transition: 0.7s;
}

.social_icon path:hover {
    fill: #D5966C;
    cursor: pointer;
    transition: 0.7s;
}



/* -------------------- RESPONSIVE -------------------- */

/* -------- TABLET --------- */



/* HEADER */

@media (min-width: 768px)
{
    .background {
        background-image: url(../assets/images/tablet/image-hero@2x.jpg);
        width: 437px;
        height: 700px;
    }
    
    .text {
        top: 145px;
        left: 400px;
        transition: 1s;
    }
    
    .text h1 {
        font-size: 70px;
        line-height: 65px;
        max-width: 9.5ch;
    }
    
    .header_div {
        margin-top: 48px;
    }
    
    .button {
        margin-top: 48px;
    }
    
    /* MAIN */

    main {
        margin-top: 330px;
    }

    .starter_section {
        flex-direction: row-reverse;
        max-width: 688px;
        justify-content: space-between;
    }

    .first_img {
        width: 398px;
        height: 400px;
        background-image: url(../assets/images/tablet/image-grid-1@2x.jpg);
    }

    .day {
        justify-content: center;
    }

    .day h2 {
        max-width: 7ch;
    }

    .day p {
        max-width: 19ch;
        margin-top: 24px;
    }

    .grid_container {
        grid-template-columns: 398px 280px;
        grid-template-rows: 313px 396px;
        grid-template-areas: 
            "chair museum"
            "chair black_div";
        gap: 11px;
        margin-top: 11px;
    }

    .chair {
        background-image: url(../assets/images/tablet/image-grid-2@2x.jpg);
    }

    .museum {
        background-image: url(../assets/images/tablet/image-grid-3@2x.jpg);
    }

    .txt_black p {
        max-width: 19ch;
    }
}



